<table cellspacing="0" cellpadding="0" style="width: 100%;">
    <thead style="background-color: #0469B9;color: white;text-align: center;">
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
        <th>32</th>
        <th>33</th>
        <th>34</th>
        <th>35</th>
        <th>36</th>
    </thead>
    <tr>
        <td style="width: 50px; background-color: #0469B9;color: white;">A</td>
        <td><div id="A_01"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_02"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_03"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_04"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_05"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_06"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_07"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_08"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_09"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_10"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_11"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_12"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_13"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_14"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_15"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_16"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_17"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_18"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_19"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_20"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_21"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_22"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_23"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_24"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_25"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_26"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_27"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_28"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_29"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_30"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_31"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_32"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_33"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_34"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_35"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="A_36"><span class="tooltiptext">Tooltip text</span></div></td>
    </tr>
    <tr>
        <td style="width: 50px; background-color: #0469B9;color: white;">B</td>
        <td><div id="B_01"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_02"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_03"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_04"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_05"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_06"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_07"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_08"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_09"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_10"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_11"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_12"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_13"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_14"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_15"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_16"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_17"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_18"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_19"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_20"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_21"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_22"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_23"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_24"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_25"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_26"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_27"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_28"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_29"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_30"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_31"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_32"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_33"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_34"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_35"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_36"><span class="tooltiptext">Tooltip text</span></div></td>
    </tr>
    <tr>
        <td style="width: 50px; background-color: #0469B9;color: white;">B</td>
        <td><div id="B_01"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_02"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_03"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_04"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_05"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_06"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_07"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_08"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_09"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_10"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_11"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_12"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_13"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_14"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_15"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_16"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_17"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_18"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_19"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_20"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_21"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_22"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_23"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_24"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_25"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_26"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_27"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_28"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_29"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_30"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_31"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_32"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_33"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_34"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_35"><span class="tooltiptext">Tooltip text</span></div></td>
        <td><div id="B_36"><span class="tooltiptext">Tooltip text</span></div></td>
    </tr>
    

</table>