<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">BÃI XE KHO ĐÀI TƯ (LONG BIÊN - HÀ NỘI)</span></br>
        <span class="sp_title_description">(Tải - Bus - Du lịch)</span>
    </div>


    
    <div class="div_column_2x">

        <table alt="KV-01" cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></t
                <th>1</th>
                <th>2</th>


            </thead>
            <tr alt="A">
                <td class="row_title">
                    A
                </td>
                <td>
                    <div alt="01-A-01" id="01-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-A-02" id="01-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="B">
                <td class="row_title">
                    B
                </td>
                <td>
                    <div alt="01-B-01" id="01-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-B-02" id="01-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div alt="01-C-01" id="01-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-C-02" id="01-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div alt="01-D-01" id="01-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-D-02" id="01-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
            </tr>
        </table>

        <table alt="KV-02" cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                
            </thead>
            <tr alt="AA">
                <td class="row_title">
                    AA
                </td>
                <td>
                    <div alt="01-AA-01" id="01-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-AA-02" id="01-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="AB">
                <td class="row_title">
                    AB
                </td>
                <td>
                    <div alt="01-AB-01" id="01-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-AB-02" id="01-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div alt="01-C-01" id="01-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-C-02" id="01-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div alt="01-D-01" id="01-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-D-02" id="01-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_column_2x">

        <table alt="KV-01" cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>


            </thead>
            <tr alt="A">
                <td class="row_title">
                    A
                </td>
                <td>
                    <div alt="01-A-01" id="01-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-A-02" id="01-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="B">
                <td class="row_title">
                    B
                </td>
                <td>
                    <div alt="01-B-01" id="01-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-B-02" id="01-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div alt="01-C-01" id="01-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-C-02" id="01-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div alt="01-D-01" id="01-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-D-02" id="01-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
            </tr>
        </table>

        <table alt="KV-02" cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                
            </thead>
            <tr alt="AA">
                <td class="row_title">
                    AA
                </td>
                <td>
                    <div alt="01-AA-01" id="01-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-AA-02" id="01-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="AB">
                <td class="row_title">
                    AB
                </td>
                <td>
                    <div alt="01-AB-01" id="01-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-AB-02" id="01-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div alt="01-C-01" id="01-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-C-02" id="01-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div alt="01-D-01" id="01-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div alt="01-D-02" id="01-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>

            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
            </tr>
        </table>
    </div>
</div>