<table style="width:120px;border-collapse:collapse;font-size:9pt;margin-left: 30px;float:left"
    cellspacing="0" cellpadding="0">
    <tr>
        <td style="text-align:center;font-weight:bold;padding-top: 2px;padding-left: 40px;">
            <center>
                <div class="barcode">
                    <div id='id_qrcode{1}'></div>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td style="font-size: 9pt;font-weight: bold;height: 13px;padding-left: 40px;text-align:center;padding-top: 2px;">{0}   </td>
    </tr>
</table>
^
var qrcode$name$ = new QRCode('id_qrcode$name$', {
text: '$make$',
width: 100,
height: 100,
colorDark: "#000000",
colorLight: "#ffffff",
correctLevel: QRCode.CorrectLevel.H
});